# Builds
/dist

# Logs
*.log
*.log.*
*audit.json
npm-debug.log*

# node-waf configuration
.lock-wscript

# Dependency directory
/node_modules

# Optional cache directory
.yarn-cache

# Optional REPL history
.node_repl_history

# OS X
.DS_STORE

# IDEs
.idea
.awcache
.vscode

# npm
package-lock.json

# Yarn 2 without Zero-installs
.yarn
.pnp.*
.yarnrc.yml
