$default: #bbbbbb;
$background: #262335;

$keyword: #fede5d;
$keyword: #fede5d;
$comment: #495495;
$variable: #c298b6;
$params: #ff7edb;
$constant: #f97e72;
$literal: #f97e72;
$escape: #36f9f6;
$class: #fe4450;
$function: #36f9f6;

$title: #fe4450;
$attr: #ff7edb;
$meta: inherit;
$meta-keyword: #fede5d;
$meta-string: #ff8b39;

$regexp: #f97e72;
$string: #ff8b39;
$number: #f97e72;

$tag-attr: #fede5d;

$html-tag: #72f1b8;
$html-tag-brackets: #72f1b8;
$html-tag-attr: #fede5d;

$css-attr: #72f1b8;
$css-class: #fede5d;
$css-id: #72f1b8;
$css-tag: #72f1b8;
$css-pseudo: #d50;
$css-built_in: #fe4450;
$css-meta: #fede5d;

$json-attr: #72f1b8;

$md-default: #ffffffee;
$md-section: #ff7edb;
$md-quote: #b6b1b1cc;
$md-list-bullet: #b6b1b1cc;
$md-list-link: #d50;
$md-list-link-description: #f97e72;

// hljs block

.hljs {
  border-radius: 6px;
  color: $default;
  background: $background;
  margin-top: unset;

  &::before {
    top: 0;
    left: unset;
    right: 0;
    padding: 5px 10px;
    border-radius: 0 6px 0 0;
    background-color: #00000080;

    opacity: 0.3;
    transition: 0.2s opacity;
  }

  &:hover::before {
    opacity: 1;
  }
}

// hljs parts

.hljs-keyword {
  color: $keyword;
}

.hljs-comment {
  color: $comment;
  font-style: italic;
}

.hljs-params {
  color: $params;
  font-style: italic;
}

.hljs-literal {
  color: $literal;
}

.hljs-class .hljs-title {
  color: $class;
}

.hljs-function .hljs-title {
  color: $function;
}

//

.hljs-title {
  color: $title;
}

.hljs-attr {
  color: $attr;
}

.hljs-meta {
  color: $meta;
}

.hljs-meta .hljs-meta-keyword {
  color: $meta-keyword;
}

.hljs-meta .hljs-meta-string {
  color: $meta-string;
}

// hljs data types

.hljs-regexp {
  color: $regexp;
}

.hljs-string {
  color: $string;
}

.hljs-number {
  color: $number;
}

.hljs-tag .hljs-attr {
  color: $tag-attr;
}

// [lang] html

.hljs.html .hljs-tag .hljs-name {
  color: $html-tag;
}

.hljs.html .hljs-tag .hljs-attr {
  color: $html-tag-attr;
  font-style: italic;
}

// [lang] css

.hljs.css .hljs-attribute {
  color: $css-attr;
}

.hljs.css .hljs-selector-class {
  color: $css-class;
}

.hljs.css .hljs-selector-id {
  color: $css-id;
}

.hljs.css .hljs-selector-tag {
  color: $css-tag;
}

.hljs.css .hljs-selector-pseudo {
  color: $css-pseudo;
}

.hljs.css .hljs-built_in {
  color: $css-built_in;
}

.hljs.css .hljs-meta {
  color: $css-meta;
}

// [lang] json

.hljs.json .hljs-attr {
  color: $json-attr;
}

// [lang] md

.hljs.md {
  color: $md-default;
}

.hljs.md .hljs-section {
  color: $md-section;
}

.hljs.md .hljs-quote {
  color: $md-quote;
  font-style: italic;
}

.hljs.md .hljs-bullet {
  color: $md-list-bullet;
}

.hljs.md .hljs-link {
  color: $md-list-link;
}

.hljs.md .hljs-string {
  color: $md-list-link-description;
}
