/* --------------------------------- global --------------------------------- */

$color: #bbbbbb;
$background: #262335;

/* ---------------------------------- types --------------------------------- */

$keyword: #fede5d;
$comment: #848bbd;
$variable: #c298b6;
$params: #ff7edb;
$constant: #f97e72;
$literal: #f97e72;
$escape: #36f9f6;
$class: #fe4450;
$function: #36f9f6;
$built_in: #fe4450;

$title: #fe4450;
$attr: #ff7edb;
$meta: inherit;
$meta-keyword: #fede5d;
$meta-string: #ff8b39;

$regexp: #f97e72;
$string: #ff8b39;
$subst: #ff7edb;
$number: #f97e72;

$tag-attr: #fede5d;

/* ---------------------------------- html ---------------------------------- */

$html-color: #ffffffed;
$html-tag: #72f1b8;
$html-tag-brackets: #72f1b8;
$html-tag-attr: #fede5d;

/* ----------------------------------- css ---------------------------------- */

$css-attr: #72f1b8;
$css-class: #fede5d;
$css-id: #72f1b8;
$css-tag: #72f1b8;
$css-pseudo: #d50;
$css-meta: #fede5d;

/* ---------------------------------- json ---------------------------------- */

$json-attr: #72f1b8;

/* -------------------------------- markdown -------------------------------- */

$md-color: #ffffffee;
$md-section: #ff7edb;
$md-quote: #b6b1b1cc;
$md-list-bullet: #b6b1b1cc;
$md-list-link: #d50;
$md-list-link-description: #f97e72;
